body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    width: 100%;
}
header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0 5% 0 0;
    background-color: #F4F9E2;
}
.header__logo {
    color: #62D0DF;
    font-size: 24px;
    padding: 0 0 0 10%;
}
.main__firstSection_logo {
    color: #62D0DF;
    font-size: 24px;
}
.header__nav_item {
    position:
    color: #22356F;
    padding: 10px;
    font-size: 14px;
}
nav a:active {
    text-decoration: underline;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: indigo;
}
.header__button_contact {
    background-color: #62D0DF;
    color:#FFFFFF;
    border-radius: 20px;
    border-width: 0px;
    padding: 10px 20px 10px 20px;
    margin: 0 10% 0 0;
}
button:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

main p:nth-of-type(2) {
    font-size: 24px;
    color: #22356F;
}
.main__firstSection {
    /* width: 100%; */
    background-color: #F4F9E2;
}
.main__firstSection__button_whoAmI {
    background-color: #F9B640;
    color: #FFFFFF;
    border-width: 0px;
    padding: 10px;
    margin-bottom: 10%
}
.main__firstSection__button_whatIdo {
    background-color: ;
    color: #F9B640;
    border-width: 0px;
    padding: 10px;
    margin-bottom: 10%
}
.main__firstSection {
    display:flex;
    margin-left: 10%;
}
.main__firstSection_headline {
    font-size: 48px;
}
.main__firstSection div {
    color: #22356F;
    font-size: 24px;
}
.main__firstSection_img {
    transform: matrix(-0.87, 0.5, 0.5, 0.87, 0, 0);
    width: 30%;
    height: 30%;
    border-radius: 50%;
    margin-right: 5%;
}
.main__secondSection {
    display: flex;
    background-color: #62D0DF;
    color: #FFFFFF;
}
.main__secondSection_headline {
    font-size: 36px;
    margin: 15% 0 0 10%
}
.main__secondSection p {
    width: 70%;
    font-size: 24px;
    padding: 8% 8% 8% 10%
}
.main__thirdSection {
    display: flex;
    color: #22356F;
}
.main__fourthSection {
        display: flex;
    flex-flow: row wrap;
}
.main__fourthSection div:first-child {
    color: #22356F80;
    font-size: 16px;
    justify-content: center;
    letter-spacing: 0.06em;
    padding: 5% 40% 5% 40%;
}
.main__fourthSection a {
    color: #FFFFFF;
    font-size: 32px;
    letter-spacing: -0.006em;
}
.main__fourthSection div:not(first-child) {
    flex: 1 1 25%;
    text-align: center;
    padding: 10% 0 10% 0;
}
.main_fourthSection__link_weightLifting {
    background-color: #FFE2DE;
}
.main_fourthSection__link_running {
    background-color: #C4E769;
}
.main_fourthSection__link_pumping {
    background-color: #62D0DF;
}
.main_fourthSection__link_iron {
    background-color: #0052C1;
}
.main__fifthSection {
    display: flex;
    margin-top: 10%;
    flex-flow: row wrap;
}
.main__fifthSection div {
    flex: 1 1 33%;
    text-align: center;
    padding: 15% 0 15% 0;
}
.main__fifthSection a {
    color: #FFFFFF;
    font-size: 32px;
    letter-spacing: -0.006em;
}
.main__fifthSection__link_physical {
    background-color: #22356F;
}
.main__fifthSection__link_mental {
    background-color: #0052C1;
}
.main__fifthSection__link_nutrition {
    background-image: url("./images/nutrition.png");
}
.main__fifthSection__link_gymnastics {
    background-color: #62D0DF;
}
.main__fifthSection__link_crossfit {
    background-color: #DEE1FF;
}
.main__fifthSection__link_aerobics {
    background-color: #8F00FF;
}
section.fifth {
    display: flex;
    margin-top: 2%;
    flex-flow: row wrap;    
}
section.fifth div {
    flex: 1 1 33%;
    text-align: left;
}
section.fifth a {
    color: #22356F;
    font-size: 28px;
    letter-spacing: -0.03em;
    padding-left: 5%;
}
section.fifth a>p {
    color: #22356F80;
    font-size: 16px;
    letter-spacing: -0.03em;
    padding: 5% 5% 5% 5%;
}
section.sixth {
    display: flex;
    color: #22356F;    
}
section.sixth h5 {
    font-size: 16px;
    letter-spacing: 0.06em;
}
section.sixth div:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 5% 0 5%;
}
section.sixth p {
    font-size: 36px;
    letter-spacing: -0.01em;
}
section.sixth span {
    color:#6CD3E1;
}
section.sixth a {
    color: #FAB63E;
    font-size: 16px;
    letter-spacing: 0.1em;
}
section.seventh {
    display: flex;
    color: #FFFFFF;
    background-color: #22356F; 
}
section.seventh #contact {
    color: #FFFFFF;
    font-size: 16px;
    letter-spacing: 0.06em;
    padding: 10% 0 0 10%;
}
section.seventh div:first-child {
    display: flex;
    flex-direction: row;
}
section.seventh div:nth-child(2) {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: left;
}
section.seventh a:last-of-type {
    color: #62D0DF;
    font-size: 16px;
    letter-spacing: 0.1em;
}
section.seventh h5 {
    font-size: 64px;
    letter-spacing: -0.01em;
}
section.seventh p {
    font-size: 36px;
    letter-spacing: -0.005em;
    width: 80%;
}
footer {
    display: flex;
    /* flex-flow: row wrap; */
    color: rgba(34, 53, 111, 0.5);
}
footer h5{
    color: rgba(34, 53, 111);
}
footer img {
    width: 30vw;
}
footer div:nth-child(2) {
    display: flex;
    /* flex-flow: row wrap; */
}
footer div:last-child {
    font-size: 14;
    color: #FFFFFF;
    background-color: #62D0DF;
    padding-top: 33px;
    padding-bottom: 33px;
    text-align: center;
    align-items: flex-end;
}